---
layout: default
team:
  - daniel
  - steve
---

<pre>
{% for team_member in page.team %}
{% assign person = site.data.people[team_member] %}
team_member: {{ team_member }} // person.name: {{ person.name }}
{% endfor %}
</pre>

{% for team_member in page.team %}
    <hr>
    <section class="person">
        {% assign person = site.data.people[team_member] %}

        {% if person.image %}
            <img src="{{ person.image.url }}" />
        {% endif %}
        <p>team_member: {{ team_member }}</p>
        <p>person.name: {{ person.name }}</p>
    </section>
{% endfor %}
