<footer class="jcu-footer hidden-print container">

  <div class="row">

    <div class="col-lg-8 col-xs-12 container-fluid">
      <div class="row">
        <nav>
          <h2 class="sr-only">Footer</h2>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/about">About {{ site.title }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/allposts">See all posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/team">Meet the team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:{{ site.email }}">Email us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <p>{{ site.description }}</p>
      </div>
      <ul class="row jcu-colophon p-l-0">
        <!-- <li class="list-inline-item">Last published {{ site.time | date: "%-d %B %Y" }}</li> -->
        <li class="list-inline-item">Last published <b>{{ site.time | timeago }}</b>.</li>
        <li class="list-inline-item">&#9829; and © 1995 to {{ site.time | date: "%Y" }} James Cook University.  All rights reserved.</li>
        <li class="list-inline-item">ABN 46253211955</li>
      </ul>
    </div>

    <div class="col-xs-10 col-lg-3">
      <a class="jcu-brand pull-xs-right" href="https://www.jcu.edu.au">
        <img class="img-fluid" src="{{ site.baseurl }}/lib/jcuweb/images/jcua-logo-mono.svg" alt="JCU Australia logo">
      </a>
    </div>
    <div class="col-xs-2 col-lg-1">
      <ul class="jcu-campus-stack pull-xs-right">
        <li><a href="https://www.jcu.edu.au/about-jcu/campuses/cairns">Cairns</a></li>
        <li><a href="https://www.jcu.edu.au/about-jcu/campuses/singapore">Singapore</a></li>
        <li><a href="https://www.jcu.edu.au/about-jcu/campuses/townsville">Townsville</a></li>
      </ul>
    </div>

  </div>

</footer>
