<footer class="jcu-footer hidden-print container-fluid container-fluid--max-width">

  <nav>
    <h2 class="sr-only">Footer</h2>
  </nav>

  <div class="row jcu-colophon">
    <div class="col-xs-12 text-xs-center">
      <ul class="list-inline">
        <li class="list-inline-item">Last published {{ site.time | date: "%-d %B %Y" }}</li>
        <li class="list-inline-item">Copyright © 1995 to {{ site.time | date: "%Y" }} James Cook University.  All rights reserved</li>
        <li class="list-inline-item">ABN 46253211955</li>
      </ul>
    </div>
  </div>

</footer>


  <div class="wrapper inprogress">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
