<header class="site-header">
  <div class="wrapper">

    <nav class="navbar navbar-dark jcu-bg--gradient-orange">
      <div class="container">
        <h2 class="sr-only">Header</h2>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }} <small><i>&#9829; and hate in a time of climate change</i></small></a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/allposts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/team">Authors</a>
          </li>
        </ul>
      </div>
      <!-- <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
    </nav>

  </div>
</header>
